{% extends 'base.html' %}
{% block title %}
    Профиль
{% endblock %}

{% block content %}

<div>
<h1> Профиль пользователя {{ user.username }} </h1>
        <div class="profile-border-out">
            <div class="profile-border-in">
                <ul>
                    <li> Name: {{ user.firstname }} </li><br>
                    <li> LastName: {{ user.lastname }} </li><br>
                    <li> Patronymic: {{ user.patronymic }} </li><br>
                    <li> Email: {{ user.email }} </li><br>
                    <li> Country: {{ user.country }} </li><br>
                    <li> Registration: {{ user.registration }} </li><br>
                     {% if request.user.id != user.id %}
                    <a href="/user/{{ user.username }}">List of posts</a>
                    {% endif %}
                </ul>

            </div>
        </div>





</div>


{% endblock %}